body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1em;
  text-align: center;

}
h1{
  text-align: center;
}

fieldset {
	margin-top: 1em;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#submit {
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
}
.chart {
  height: 500px !important;
}

#img-dryer {
    position: fixed;
    top: 32px;
    right: 64px;
    width: 230px;
    z-index: 999;
    font-size: 12px;
}
.footer {
  margin-top: 1em;
  text-align: center;
}
